if SHIELD_DORO56_LEFT

config ZMK_KEYBOARD_NAME
    default "Doro56"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DORO56_LEFT || SHIELD_DORO56_RIGHT

config ZMK_SPLIT
    default y

endif